*{

margin:0;
padding:0;

box-sizing:border-box;

font-family:Arial,sans-serif;

}


body{

min-height:100vh;

background:
radial-gradient(circle,#302b63,#000);

color:white;

text-align:center;

padding:30px;

}



h1{

font-size:32px;

margin-bottom:10px;

}



.letters-container{

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

margin-top:40px;

}




.envelope{

width:230px;

height:170px;

position:relative;

cursor:pointer;

perspective:800px;

}



.front{

position:absolute;

width:100%;

height:100%;


background:#ff7eb3;


border-radius:15px;


display:flex;

justify-content:center;

align-items:center;


font-size:70px;


transition:1s;


z-index:2;

}




.letter{

position:absolute;

background:white;

color:#444;


width:100%;

height:160px;


padding:20px;


border-radius:15px;


transform:translateY(0);


transition:1s;


overflow:auto;

}





.envelope.open .front{

transform:

rotateX(180deg);

opacity:0;

}



.envelope.open .letter{

transform:

translateY(-80px);

box-shadow:0 0 30px white;

}




button{

margin-top:50px;


padding:15px 30px;

border:none;


border-radius:30px;


background:#ff4f88;

color:white;


font-size:18px;


}



.butterfly{

position:absolute;

animation:fly 10s linear infinite;

font-size:30px;

}



@keyframes fly{


from{

transform:translateY(100vh);

}


to{

transform:translateY(-100vh);

}

}
